.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.country{
    border: 2px solid goldenrod;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
}
.country img{
    width: px;
}